@import '../../sass/global.scss';

.rating {
    
    display: flex;
    flex-direction: column;
    height: 40px;
    margin-bottom: 10px;

    .label {
        color: $medium-grey;
        margin-bottom: 7px;
    }

    .bar {
        background-color: $sky-blue;
        flex-grow: 1;
        display: flex;
        width: 80%;

        .barRate {
            height: 100%;
            background-color: $primary-color;
        }
    }
}

@media screen and (max-width: 975px) {
    .rating {
    
        .bar {
            width: 100%;
        }
    }
}