@import '../../sass/global.scss';

.about {
    background-color: $ligth-grey;
    min-height: 100vh;
    display: flex;
    justify-content: center;

    .container {

        width: 85%;
        background-color: white;
        padding: 4rem 3rem;
        min-height: 70%;
        margin: auto;
        display: flex;
        justify-content: space-around;
        box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%) , 0 2px 5px 0 rgb(0 0 0 / 20%);

        .left {
            width: 45%;
            .details {

                display: flex;
                gap: 35px;

                .avatarContainer {

                    width: 150px;
                    height: 150px;
                    margin: 0;
    
                    .avatar {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 70px;
                    }
    
                }

                .detailsInfo {
                    flex-grow: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    .item {

                        font-size: 1.2 rem;

                        .value {
                            color: $medium-grey;
                            font-weight: normal;
                            margin-left: 10px;
                        }
                    }
                }
    
                
            }

            .title {
                width: 150px;
                font-size: $fs-large;
                margin-bottom: 30px;
            }
            
            
        }
    
        .rigth {
            width: 45%;

            p {
                font-size: 1.2rem;
                color: $medium-grey;
            }
        }
    }
}

@media screen and (max-width: 975px) {
    .about {
        .container {
            flex-direction: column;

            .left {
                width: 100%;

                .title {
                    width: 100%;
                    text-align: center;
                    font-size: 35px;
                }
            }

            .rigth {
                width: 100%;
            }
        }
    }
}