.header {    
    height: 72vh;

    img {
        object-fit: cover;
        filter: brightness(0.3);
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
        position: absolute;
        top: 0;
    }
}