@import '../../sass/global';

.nav {
    height: 75px;
    background-color: rgb(0, 0, 0, .6);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: $fs-large;
    position: fixed;
    top: 0;
    width: 100%;

    a {
        text-decoration: none;
    }

    .menu {
        display: flex;
        justify-content: space-around;
        width: 25%;

        li {
            list-style: none;

            &:hover {
                border-bottom: 2px solid white;
            }
        }
    }
}