@import '../../sass/global.scss';

.banner {
    font-size: $fs-biggest;
    text-align: center;
    height: 100px;
    margin-top: 15%;

    h2 {
        font-size: $fs-biggest;
        margin: 0;
        padding: 0;
    }

    h1 {
        margin-bottom: 0;
    }
}